In [1]:
import os
from glob import glob
import pandas as pd
os.chdir("/Users/pavannaik/Desktop/BDV")

In [2]:
extension = 'csv'
all_filenames = [i for i in glob('*.{}'.format(extension))]

In [3]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [4]:
df = pd.read_csv("combined_csv.csv")

In [5]:
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,DIVERTED,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018,2,4,1,7,2018-04-01,F9,13487,MSP,"Minneapolis, MN",...,0.0,112.0,1.0,680.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,2,4,1,7,2018-04-01,F9,11292,DEN,"Denver, CO",...,0.0,89.0,1.0,826.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,2,4,1,7,2018-04-01,F9,13485,MSN,"Madison, WI",...,0.0,134.0,1.0,1109.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,2,4,1,7,2018-04-01,F9,13204,MCO,"Orlando, FL",...,0.0,159.0,1.0,1109.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,2,4,1,7,2018-04-01,F9,13485,MSN,"Madison, WI",...,0.0,119.0,1.0,826.0,53.0,0.0,0.0,0.0,0.0,NaN

In [6]:
df.shape

(7275174, 28)

In [7]:
American = df[df.OP_UNIQUE_CARRIER=='AA']

In [8]:
American.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,DIVERTED,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
322758,2018,2,4,9,1,2018-04-09,AA,14107,PHX,"Phoenix, AZ",...,0.0,74.0,1.0,507.0,NaN,NaN,NaN,NaN,NaN,NaN
322759,2018,2,4,10,2,2018-04-10,AA,14107,PHX,"Phoenix, AZ",...,0.0,73.0,1.0,507.0,NaN,NaN,NaN,NaN,NaN,NaN
322760,2018,2,4,11,3,2018-04-11,AA,14107,PHX,"Phoenix, AZ",...,0.0,68.0,1.0,507.0,NaN,NaN,NaN,NaN,NaN,NaN
322761,2018,2,4,12,4,2018-04-12,AA,14107,PHX,"Phoenix, AZ",...,0.0,68.0,1.0,507.0,NaN,NaN,NaN,NaN,NaN,NaN
322762,2018,2,4,13,5,2018-04-13,AA,14107,PHX,"Phoenix, AZ",...,0.0,83.0,1.0,507.0,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
American.shape

(922444, 28)

In [10]:
Delta = df[df.OP_UNIQUE_CARRIER=='DL']

In [11]:
Delta.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,DIVERTED,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
419129,2018,2,4,1,7,2018-04-01,DL,12892,LAX,"Los Angeles, CA",...,0.0,275.0,1.0,2475.0,NaN,NaN,NaN,NaN,NaN,NaN
419130,2018,2,4,1,7,2018-04-01,DL,12892,LAX,"Los Angeles, CA",...,0.0,49.0,1.0,236.0,NaN,NaN,NaN,NaN,NaN,NaN
419131,2018,2,4,1,7,2018-04-01,DL,12892,LAX,"Los Angeles, CA",...,0.0,79.0,1.0,590.0,NaN,NaN,NaN,NaN,NaN,NaN
419132,2018,2,4,1,7,2018-04-01,DL,14869,SLC,"Salt Lake City, UT",...,0.0,87.0,1.0,590.0,NaN,NaN,NaN,NaN,NaN,NaN
419133,2018,2,4,1,7,2018-04-01,DL,11292,DEN,"Denver, CO",...,0.0,88.0,1.0,680.0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
Delta.shape

(961994, 28)

In [13]:
ExpressJet = df[df.OP_UNIQUE_CARRIER=='EV']

In [14]:
ExpressJet.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,DIVERTED,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
8385,2018,2,4,1,7,2018-04-01,EV,10781,BTR,"Baton Rouge, LA",...,0.0,66.0,1.0,383.0,NaN,NaN,NaN,NaN,NaN,NaN
8386,2018,2,4,2,1,2018-04-02,EV,10781,BTR,"Baton Rouge, LA",...,0.0,64.0,1.0,383.0,NaN,NaN,NaN,NaN,NaN,NaN
8387,2018,2,4,3,2,2018-04-03,EV,11057,CLT,"Charlotte, NC",...,0.0,34.0,1.0,177.0,NaN,NaN,NaN,NaN,NaN,NaN
8388,2018,2,4,4,3,2018-04-04,EV,11057,CLT,"Charlotte, NC",...,0.0,35.0,1.0,177.0,NaN,NaN,NaN,NaN,NaN,NaN
8389,2018,2,4,5,4,2018-04-05,EV,11057,CLT,"Charlotte, NC",...,0.0,37.0,1.0,177.0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
ExpressJet.shape

(207794, 28)

In [16]:
Southwest = df[df.OP_UNIQUE_CARRIER=='WN']

In [17]:
Southwest.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,DIVERTED,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
165696,2018,2,4,2,1,2018-04-02,WN,13232,MDW,"Chicago, IL",...,0.0,71.0,1.0,423.0,0.0,0.0,0.0,0.0,23.0,NaN
165697,2018,2,4,2,1,2018-04-02,WN,13232,MDW,"Chicago, IL",...,0.0,72.0,1.0,423.0,NaN,NaN,NaN,NaN,NaN,NaN
165698,2018,2,4,2,1,2018-04-02,WN,13232,MDW,"Chicago, IL",...,0.0,72.0,1.0,423.0,NaN,NaN,NaN,NaN,NaN,NaN
165699,2018,2,4,2,1,2018-04-02,WN,13232,MDW,"Chicago, IL",...,0.0,234.0,1.0,1706.0,NaN,NaN,NaN,NaN,NaN,NaN
165700,2018,2,4,2,1,2018-04-02,WN,13232,MDW,"Chicago, IL",...,0.0,91.0,1.0,704.0,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
Southwest.shape

(1369795, 28)

In [19]:
ADES = pd.concat([American, Delta, ExpressJet, Southwest])

In [20]:
ADES.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,...,DIVERTED,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
322758,2018,2,4,9,1,2018-04-09,AA,14107,PHX,"Phoenix, AZ",...,0.0,74.0,1.0,507.0,NaN,NaN,NaN,NaN,NaN,NaN
322759,2018,2,4,10,2,2018-04-10,AA,14107,PHX,"Phoenix, AZ",...,0.0,73.0,1.0,507.0,NaN,NaN,NaN,NaN,NaN,NaN
322760,2018,2,4,11,3,2018-04-11,AA,14107,PHX,"Phoenix, AZ",...,0.0,68.0,1.0,507.0,NaN,NaN,NaN,NaN,NaN,NaN
322761,2018,2,4,12,4,2018-04-12,AA,14107,PHX,"Phoenix, AZ",...,0.0,68.0,1.0,507.0,NaN,NaN,NaN,NaN,NaN,NaN
322762,2018,2,4,13,5,2018-04-13,AA,14107,PHX,"Phoenix, AZ",...,0.0,83.0,1.0,507.0,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
ADES.shape

(3462027, 28)

In [22]:
ADES.to_csv(r'/Users/pavannaik/Desktop/BDV/ADES.csv', index = None, header=True)